:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}


h1 {
	font-family: "Inter", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 3.5em;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 0.4em;
}

h2 {
	font-family: "Inter", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1em;
}

h2.line {
    font-weight: 300
}

p {
	font-family: "Inter", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.linksvid{
    text-align: center;
}

.date{
    font-style: normal;
    font-weight: 500;
}

.find {
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    line-height: 0em;
}

.underline {
    text-align: center;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.2em;
}

.social {
    text-align: center;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.2em;
    text-transform: lowercase;
}

.icon { /* Customizes all icons at once */
  display: inline-block;
}

blockquote {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18px;
}


body::before {
  content: "";
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .6; 
  z-index: -1;
  background-color: #efefef
}


a:link    {
  text-decoration:none;
  color:#9933CC;
  } 
a:visited {
  text-decoration:none;
  color:#9933CC;
  } 
a:hover   {
  text-decoration:none;
  color:#9a00e6;
  } 
a:active  {
  text-decoration:none;
  color:#9a00e6;
  }

header, footer, h2.line {
    text-align: center;
}

footer {
   position:fixed;
   left:0em;
   bottom:2em;
   width:100%;
}

.embed-container {
    position: relative; 
    padding-bottom: 56.25%; 
    height:0; 
    overflow: hidden; 
    max-width: 100%; 
    margin-left: 3em;
    margin-right: 3em;
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
}

.cabinet {
    text-align: center;
    margin-top: 26em;
    display: flex;
    justify-content: center;
    align-content: center;
}

img {
    width: 100%;
    max-width: 26em;
}

body {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
